@import "navbar.css";
@import "footer.css";
@import "typography.css";
@import "layout.css";

#article
    {
        display: flex;
        font-family: "Times New Roman" ;
        font: medium;
        font-style: normal;
        max-width: 70%;
        margin: auto;   
        line-height: 1.2em;
        border-style: double;
        border-width: 0.5em;
    }

.artimage
    {
        display: block;
        max-width: 40%;
        height: auto;

    }

.article_layout

    {
     display: grid;   
     justify-content: left;
     border-width: 0.2em;
     border-style: groove;
     
    }